[user]
    email = szczygiel.p@gmail.com
    name = Piotr Szczygieł
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDR5PjSdM3RBmg6MlNazABdkKnm0c5DK6T6tebaASZsd

[core]
    editor = zed --wait
    autocrlf = input

[pull]
    rebase = false

[fetch]
    prune = true

[diff]
    algorithm = histogram

[init]
    defaultBranch = main

[push]
    autoSetupRemote = true

[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"

[include]
    path = ~/.gitconfig.os

[alias]
    main = !git checkout main 2>/dev/null || git checkout master
