[user]
    email = szczygiel.p@gmail.com
    name = Piotr Szczygieł

[core]
    autocrlf = input

[pull]
    rebase = false

[fetch]
    prune = true

[diff]
    algorithm = histogram

[init]
    defaultBranch = main

[push]
    autoSetupRemote = true

[url "git@github.com:"]
    insteadOf = gh:

[url "git@git.szczygiel.dev:"]
    insteadOf = fj:

[alias]
    main = !git checkout main 2>/dev/null || git checkout master
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
